body {
    background-color: #001f3f; /* Tmavomodr치 farba */
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
    background-color: #000c1a; /* Tmav코ia modr치 pre header */
}

h1 {
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery img {
    width: 300px;
    height: auto;
    margin: 10px;
    border: 2px solid #ffffff; /* Biely r치mik pre kontrast */
    border-radius: 5px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

footer {
    padding: 10px;
    background-color: #000c1a;
    position: fixed;
    bottom: 0;
    width: 100%;
}
